
@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,500,700');

body,
html {
    background-image: url("https://source.unsplash.com/category/nature/1280x1024");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba( 0, 0, 0, 0.80);
    background-blend-mode: darken;
    color: #fff;
    height: 100%;
    font-family: "Rajdhani"
}

#root {
    height: 100%;
}

.particles {
    height: 100%;
}

.particles canvas {
    height: 100%;
}

.App {
    height: 100%;
}

.AppIntro {
    margin: auto;
    text-align: center;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    position: absolute;
}